@import url(./bootrap.css);
.breadcrumb {
  background: rgba(34, 34, 34, 0.041) !important;
}

.card {
  border: 0;
  -webkit-box-shadow: 0 0.25rem 1.25rem rgba(56, 55, 55, 0.041);
          box-shadow: 0 0.25rem 1.25rem rgba(56, 55, 55, 0.041);
}

.card .card-header {
  border: 0;
  background: #Fff;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.144);
}

.top-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1050;
}

.top-header .navbar {
  background: var(--white) !important;
}

.top-header .input-group {
  max-width: 240px;
}

.top-header .notif {
  min-width: 25rem;
  max-height: 28rem;
  overflow-y: auto;
}

.top-header .notif::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #fafcf3;
}

.top-header .notif::-webkit-scrollbar-thumb {
  background-color: var(--gray-800);
}

#sidebar {
  position: fixed;
  top: 2rem;
  height: calc(100vh - 2rem);
  width: 13rem;
  z-index: 999;
  padding-top: 3rem;
  background: var(--gray-dark);
}

#sidebar .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#sidebar .nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75rem 1rem;
  position: relative;
  color: #9897a3;
  background-color: #0000;
  -webkit-transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#sidebar .nav .nav-link.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.027);
}

#sidebar .nav .nav-link:hover {
  color: #fff;
  background-color: #00000523;
}

#sidebar .nav .nav-link svg, #sidebar .nav .nav-link i {
  margin-right: 0.5rem;
}

#sidebar .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#sidebar .nav .nav-link[aria-expanded="true"] {
  background-color: #00000510;
}

#sidebar .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.25);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#sidebar .nav .sidebar-nested {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.5rem;
}

#sidebar .nav .sidebar-nested .nav-link {
  font-size: 95%;
}

#sidebar .nav .sidebar-nested .nav-link:hover {
  background-color: unset;
}

#sidebar .sidebar-heading {
  padding: 1.5rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.25);
}

#content {
  background: var(--light);
  padding-left: 13.5rem;
  min-height: calc(100vh - 4.66rem);
  padding-top: 3rem;
  padding-right: .5rem;
}

#content main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
