.top-header{
    position: sticky;
    z-index: 1050;
    .navbar{
        background: var(--white) !important;

    }
    .input-group{
        max-width: 240px;
    }
    
    .notif{
        min-width: 25rem;
        max-height: 28rem;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 0.25rem;
            background-color: #fafcf3;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--gray-800);
        }
    }
}